In [64]:
import scipy.stats as st
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

In [65]:
df_suicidio_mulher = pd.read_csv('Dados\API_SH.STA.SUIC.FE.P5_DS2_en_csv_v2_5996449.csv', sep=',', encoding='UTF-8', skiprows=4)
df_suicidio_homem = pd.read_csv('Dados\API_SH.STA.SUIC.MA.P5_DS2_en_csv_v2_5996450.csv', sep=',', encoding='UTF-8', skiprows=4)

df_suicidio_mulher.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,"Suicide mortality rate, female (per 100,000 fe...",SH.STA.SUIC.FE.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Suicide mortality rate, female (per 100,000 fe...",SH.STA.SUIC.FE.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,4.138272,4.044474,3.962189,3.807305,3.742799,3.750526,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,"Suicide mortality rate, female (per 100,000 fe...",SH.STA.SUIC.FE.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,3.600000,3.600000,3.600000,3.400000,3.500000,3.600000,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Suicide mortality rate, female (per 100,000 fe...",SH.STA.SUIC.FE.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,2.998311,2.877573,2.817376,2.766277,2.726301,2.676997,NaN,NaN,NaN,NaN
4,Angola,AGO,"Suicide mortality rate, female (per 100,000 fe...",SH.STA.SUIC.FE.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,2.400000,2.600000,2.600000,2.400000,2.300000,2.300000,NaN,NaN,NaN,NaN

In [66]:
# Escolha de anos prÃ©-pandÃªmicos
df_suicidio_mulher = df_suicidio_mulher.loc[:, ['Country Name', '2017', '2018', '2019']]
df_suicidio_homem = df_suicidio_homem.loc[:, ['Country Name', '2017', '2018', '2019']]

# Achando o lambda dos 3 anos
df_suicidio_mulher['lambda'] = df_suicidio_mulher[['2017', '2018', '2019']].mean(axis=1)
df_suicidio_homem['lambda'] = df_suicidio_homem[['2017', '2018', '2019']].mean(axis=1)

# Achando o lambda geral
xbar_mulher = df_suicidio_mulher['lambda'].mean()
xbar_homem = df_suicidio_homem['lambda'].mean()

# Achando o desvio padrÃ£o
sigmabar_mulher = df_suicidio_mulher['lambda'].std()
sigmabar_homem = df_suicidio_homem['lambda'].std()

df_suicidio_mulher.dropna(inplace=True)
df_suicidio_homem.dropna(inplace=True)

df_suicidio_mulher

                    Country Name       2017      2018      2019    lambda
1    Africa Eastern and Southern   3.807305  3.742799  3.750526  3.766877
2                    Afghanistan   3.400000  3.500000  3.600000  3.500000
3     Africa Western and Central   2.766277  2.726301  2.676997  2.723192
4                         Angola   2.400000  2.300000  2.300000  2.333333
5                        Albania   2.900000  2.800000  2.700000  2.800000
..                           ...        ...       ...       ...       ...
260                        Samoa   6.600000  6.800000  6.700000  6.700000
262                  Yemen, Rep.   4.400000  4.700000  4.600000  4.566667
263                 South Africa  10.000000  9.700000  9.800000  9.833333
264                       Zambia   3.500000  3.100000  2.700000  3.100000
265                     Zimbabwe   9.600000  8.700000  8.800000  9.033333

[231 rows x 5 columns]

In [67]:
# Faixa de confianÃ§a - ttest
alpha = 0.05
a_m = st.t.ppf(0.025, len(df_suicidio_mulher) - 1, loc=xbar_mulher, scale=sigmabar_mulher)
b_m = st.t.ppf(1 - 0.025, len(df_suicidio_mulher) - 1, loc=xbar_mulher, scale=sigmabar_mulher)

a_h = st.t.ppf(0.025, len(df_suicidio_homem) - 1, loc=xbar_homem, scale=sigmabar_homem)
b_h = st.t.ppf(1 - 0.025, len(df_suicidio_homem) - 1, loc=xbar_homem, scale=sigmabar_homem)

In [68]:
# Teste de hipÃ³tese - hipÃ³tese nula de que o mu da mulher Ã© igual ao do homem
t_test, p_valor = st.ttest_ind(df_suicidio_mulher['lambda'], df_suicidio_homem['lambda'], equal_var=False)

t_test, p_valor # ou seja a hipÃ³tese nula Ã© rejeitada

(-11.96096206393938, 1.3703631252479853e-26)

In [69]:
xbar_homem, xbar_mulher

(14.502952834643768, 4.4554004512825465)